:root {
  --color-background: white;
  --border-width: 2px;
  --border-style: solid;
  --border-color: black;
  --border-radius: 16px;
  --font-size: 20px;
  --font-weight: 600;
}

.balloon {
  /* font-variation-settings: "wght" 400; */
  font-family: "inter";
  font-synthesis-weight: none; /* evita faux-bold */
  font-synthesis-style: none; /* evita faux-bold */
  text-wrap: balance;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* margin: auto; */
  /* outline: 1px solid red; */
  padding: 16px;
  overflow: hidden;
  height: auto;
  width: auto;
  resize: both;
  text-transform: uppercase;
  background: var(--color-background);
  border: var(--border-width) var(--border-style) var(--border-color);
  border-radius: var(--border-radius);
  color: var(--color-text);
  font-size: var(--font-size);
}
