@font-face {
  font-family: "Truculenta";
  src: url("../../fonts/truculenta-variablefont.ttf");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: inter;
  src: url("../../fonts/inter.ttf");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Cooper Black";
  src: url("../../fonts/Cooper-BlackItalic.woff2");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Mansalva";
  src: url("https://cdn.jsdelivr.net/npm/@fontsource/mansalva/files/mansalva-latin-400-normal.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
}
body {
  font-family: "Mansalva", cursive;
}
