.editor {
  padding: 3em;
  width: 100%;
  /* height: 100%; */
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.balloons {
  /* margin: auto; */
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 3em;
  height: auto;
  flex: auto;
}

body {
  display: grid;
  grid-template-columns: 300px auto 200px;
}

.preview {
  background: grey;
  border: 2px solid black;
  height: 100%;
  overflow-y: scroll-y;

  img {
    width: 98%;
    height: auto;
  }
}
.tools {
  font-family: "inter";
  width: 100%;
  height: 100%;
  font-size: 1em;
  overflow: hidden;
  resize: both;
  background: white;
  box-shadow: 0 0 0 2px black inset;
  h2 {
    background: black;
    color: white;
    margin: 0;
    padding: 0.3em 1ch;
    text-transform: uppercase;
    letter-spacing: 0.3ch;
    font-weight: 200;
  }
  .tool-list {
    padding: 1em 3ch;
  }

  label {
    display: block;
    text-transform: uppercase;
  }
  .inputrow {
    &:hover {
      background: lightgrey;
    }
    margin-bottom: 0.8em;
    display: grid;
    text-align: right;
    grid-template-columns: 10ch auto;
    gap: 1.5ch;
  }
  input[type="color"] {
    margin-right: 0em;
    width: 20px;
    height: 20px;
    display: inline-block;
    padding: 0;
    border: 4px solid transparent;
    display: block;
  }
  input,
  select {
    max-width: 70%;
    text-align: center;
  }
}

.toolbar {
  position: fixed;
}

img {
  /* position: fixed; */
  /* top: 3mm; */
  /* right: 3mm; */
  width: auto;
}

#button-plus {
  width: max-content;
  margin: 0 auto;
  height: auto;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 2em;
  font-weight: 300;
  background: white;
  cursor: pointer;
  border: 2px solid black;
  margin: 2em auto;
  display: block;
  &:hover {
    background: black;
    color: white;
  }
}

.balloon.selected {
  box-shadow: 0 0 0 5px var(--selected-color, #ccc);
}
