.toolbar {
  width: 100vw;
  padding-top: 2em;
  /* height: 70px; */
  position: fixed;
  top: 0;
  justify-content: start;
  /* background: grey; */
  display: flex;
  z-index: 1000;
  padding-top: 1em;
}

:is(.preview, .toolbar) button {
  background: white;
  border-radius: 8px;
  margin: 0 2em;
  letter-spacing: 0.1ch;
  padding: 1em;
  text-transform: uppercase;
  font-weight: 900;
  box-shadow: 10px 10px 0px black;

  &:hover {
    color: white;
    background: black;
    cursor: pointer;
  }
}
.editor {
  margin-top: 10em;
  padding: 3em;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.balloons {
  /* margin: auto; */
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 3em;
  height: auto;
  flex: auto;
}

body {
  display: grid;
  grid-template-columns: auto 400px;
}

.preview {
  /* background: grey; */
  border-left: 2px double black;
  height: 100%;
  overflow-y: scroll-y;

  img {
    width: 90% !important;
    height: auto !important;
    margin: 2em auto;
    display: block;
  }
}
.tools {
  z-index: 999;
  position: fixed;
  top: 5em;
  left: 5em;
  width: max-content;
  font-family: "inter";
  font-size: 1em;
  overflow: hidden;
  resize: both;
  background: white;
  box-shadow: 0 0 0 2px black inset;

  button {
    display: inline-block;
    background: white;
    border-radius: 8px;
    margin: 2em 2em;
    letter-spacing: 0.1ch;
    padding: 1em;
    text-transform: uppercase;
    font-weight: 900;

    &:hover {
      color: white;
      background: black;
      cursor: pointer;
    }
  }

  h2 {
    background: black;
    color: white;
    margin: 0;
    padding: 0.3em 1ch;
    text-transform: uppercase;
    letter-spacing: 0.3ch;
    font-weight: 200;
  }
  .tool-list {
    padding: 1em 3ch;
  }

  label {
    display: block;
    text-transform: uppercase;
  }
  .inputrow {
    &:hover {
      background: lightgrey;
    }
    margin-bottom: 0.8em;
    display: grid;
    text-align: right;
    grid-template-columns: 20ch auto;
    gap: 1.5ch;
  }
  input,
  select {
    width: 100%;
    justify-self: end;
    border: 0;
    border-bottom: 2px solid grey;
  }
  input[type="color"] {
    margin-right: 0em;
    /* width: 20px; */
    /* height: 20px; */
    /* height: 100%; */
    /* width: 100%; */
    /* display: inline-block; */
    padding: 0;
    border: 4px solid transparent;
    display: block;
  }
  input,
  select {
    display: block;
    max-width: 70%;
    text-align: center;
  }
}

.toolbar {
  position: fixed;
}

img {
  /* position: fixed; */
  /* top: 3mm; */
  /* right: 3mm; */
  width: auto;
}

#button-plus {
  width: max-content;
  margin: 0 auto;
  height: auto;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 2em;
  font-weight: 300;
  background: white;
  cursor: pointer;
  border: 2px solid black;
  margin: 2em auto;
  display: block;
  &:hover {
    background: black;
    color: white;
  }
}

.balloon {
  cursor: pointer;
}
.balloon.selected {
  position: relative;
  outline: 2px dotted #32a1ce;
  outline-offset: 10px;
}

:has(.selected) {
  .clickInfo {
    display: none;
  }
  .inputs-list {
    display: block;
  }
}

.inputs-list {
  display: none;
}

.preview {
  display: none;
}
.preview:has(img) {
  display: block;
}

.preview h3 {
  padding-left: 2ch;
  margin-top: 0;
}
.preview button {
  display: none;
  margin-bottom: 3em;
}
.preview:has(img) button {
  display: block;
}

#capture {
  display: none;
}
:has(.selected) {
  #capture {
    display: block;
  }
}

input[type="color"] {
  width: 100%;
  background: none;
  border: none;
}

.tools h2 {
  cursor: move;
}

h3 {
  text-align: left;
  border-bottom: 2px solid grey;
  &:not(:first-child) {
    margin-top: 3em;
  }
}

#downloadAll {
  display: none;
}
:has(img) {
  #downloadAll {
    display: block;
  }
}
